.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 100vh;
}

.hero-bg {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(12px);
    border-radius: 1.25em;
    padding: 1.5em;
    gap: 4em;
    filter: drop-shadow(5px 5px 30px black)
}

.alonso-hero {
    height: 300px;
    border-radius: 5%;
    filter: drop-shadow(5px 5px 10px black);
}